<?xml version='1.0' encoding='utf-8'?> 
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/esaude?autoReconnect=true</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgres</property>
		<mapping class="esaude.model.EsusCadastroDomiciliar" />
		<mapping class="esaude.model.EsusAbastecimentodeagua" />
		<mapping class="esaude.model.EsusCondicaodeposseeusodaterra" />
		<mapping class="esaude.model.EsusDestinodolixo" />
		<mapping class="esaude.model.EsusFormadeescoamentodobanheiroousanitario" />
		<mapping class="esaude.model.EsusLocalizacaodamoradia" />
		<mapping class="esaude.model.EsusMaterialpredominantenaconstrucao" />
		<mapping class="esaude.model.EsusSituacaodemoradia" />
		<mapping class="esaude.model.EsusTipodeacessoaodomicilio" />
		<mapping class="esaude.model.EsusTipodedomicilio" />
		<mapping class="esaude.model.EsusTratamentodeaguanodomicilio" /> 
		<mapping class="esaude.model.EsusRegistro" /> 
		
		
		
	</session-factory>
</hibernate-configuration> 
